html, body {
	height: 100%;
}
ul {	
	border: 1px solid red;
	padding: 0;
	list-style: none;
	background-color: #e8e8e9;
}
li {
	width: 100px;
	height: 100px;
	background-color: #8cacea;
	margin: 8px;
	padding: 4px;
	color: #fff;
}